@model ProductDetailViewModel
@{
    var culture = CultureInfo.CurrentCulture;
    string currencyFormat(decimal number)
    {
        var info = CultureInfo.GetCultureInfo("vi-VN");
        return String.Format(info, "{0:C0}", number);
    }
}
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<ul class="breadcrumb">
    <li><a href="/"><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active">@Model.Product.Name</li>
</ul>

<div class="row">
    <div id="gallery" class="span3">
        <a href="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImge)" title="@Model.Product.Name">
            <img src="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImge)" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />
        </a>
        <div class="btn-toolbar">
            <div class="btn-group">
                <span class="btn"><i class="icon-envelope"></i></span>
                <span class="btn"><i class="icon-print"></i></span>
                <span class="btn"><i class="icon-zoom-in"></i></span>
                <span class="btn"><i class="icon-star"></i></span>
                <span class="btn"><i class=" icon-thumbs-up"></i></span>
                <span class="btn"><i class="icon-thumbs-down"></i></span>
            </div>
        </div>
    </div>
    <div class="span6">
        <h3>@Model.Product.Name</h3>
        <small>@Model.Product.Description</small>
        <hr class="soft" />
        <form class="form-horizontal qtyFrm">
            <div class="control-group">
                <label class="control-label"><span>@currencyFormat(Model.Product.Price)</span></label>
                <div class="controls">
                    <a class="btn btn-large btn-primary pull-right btn-add-cart" data-id="@Model.Product.Id" href="#">
                        <localize>Add to</localize>
                        <i class="icon-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </form>
        <hr class="soft clr" />
        <p><localize>Product Details</localize></p>
        <p>
            @Html.Raw(Model.Product.Details)
        </p>
    </div>
</div>

